In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/quinoaPriceBol.csv')

In [3]:
price = df['Year']

In [11]:
def transform_date(date):
    try:
        date1 = "{:.0f}".format(date) + '-12-31'
        new_date = pd.to_datetime(date1)
        print str(new_date) + ' (' + str(type(new_date)) +')'
    except:
        new_date = date
        print 'odd date: ' + str(date)
    return new_date
print transform_date(2000.0)
df['Date'] = list(map(transform_date,df['Year']))
print df[['Date','Year']].tail()

2000-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2000-12-31 00:00:00
1991-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1992-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1993-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1994-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1995-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1996-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1997-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1998-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
1999-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2000-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2001-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2002-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2003-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2004-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2005-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2006-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2007-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2008-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2009-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2010-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2011-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2012-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2013-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
2014-12-31 00:00:00 (<class 'pandas.tslib.Timestamp'>)
odd date: nan
         Date  Year
20 2011-12-31  2011
21 2012-12-31  2012
22 2013-12-31  2013
23 2014-12-31  2014
24        NaT   NaN

In [53]:
df1 = df.set_index('Date')

In [54]:
print df1.head()

           ï»¿Domain Code                    Domain  AreaCode  \
Date
1991-12-31           PP  Producer Prices - Annual        19
1992-12-31           PP  Producer Prices - Annual        19
1993-12-31           PP  Producer Prices - Annual        19
1994-12-31           PP  Producer Prices - Annual        19
1995-12-31           PP  Producer Prices - Annual        19

                                    AreaName  ElementCode  \
Date
1991-12-31  Bolivia (Plurinational State of)         5532
1992-12-31  Bolivia (Plurinational State of)         5532
1993-12-31  Bolivia (Plurinational State of)         5532
1994-12-31  Bolivia (Plurinational State of)         5532
1995-12-31  Bolivia (Plurinational State of)         5532

                           ElementName  ItemCode ItemName  Year   Value  Flag  \
Date
1991-12-31  Producer Price (USD/tonne)        92   Quinoa  1991  435.12   NaN
1992-12-31  Producer Price (USD/tonne)        92   Quinoa  1992  466.35   NaN
1993-12-31  Producer Price (USD/tonne)        92   Quinoa  1993  480.65   NaN
1994-12-31  Producer Price (USD/tonne)        92   Quinoa  1994  481.55   NaN
1995-12-31  Producer Price (USD/tonne)        92   Quinoa  1995  521.63   NaN

                    FlagD
Date
1991-12-31  Official data
1992-12-31  Official data
1993-12-31  Official data
1994-12-31  Official data
1995-12-31  Official data

In [56]:
df2 = df1['Value']
print df2.head()

Date
1991-12-31    435.12
1992-12-31    466.35
1993-12-31    480.65
1994-12-31    481.55
1995-12-31    521.63
Name: Value, dtype: float64

In [13]:
cancer_stats = {'Sizes': [21,35,12,31,51,12],
                'Patients': [1,2,3,4,5,6],
                'Densities':[0.23,1.124,0.031,0.111,0.4111,1.923]}
cs =  pd.DataFrame(cancer_stats)
print cs.head()

   Densities  Patients  Sizes
0     0.2300         1     21
1     1.1240         2     35
2     0.0310         3     12
3     0.1110         4     31
4     0.4111         5     51

In [19]:
explo = pd.read_pickle('data/exploration.pickle')

In [20]:
explo.head(10)

,seed_per,harvest_per,yield_per,prod_per,seed_bol,harvest_bol,yield_bol,prod_bol,seed_ecu,harvest_ecu,yield_ecu,prod_ecu,gold_price,gdp_bol,cpi_bol,import_diesel,export_diesel,market_price
Date,,,,,,,,,,,,,,,,,,
1961-12-31,600,28610,7862,22494,334,22000,4181,9200,85,1945,3809,741,NaN,2.079984,7.561493,0,0,NaN
1962-12-31,592,30040,8110,24364,339,22300,4573,10200,80,2750,8672,2385,NaN,5.570225,5.879331,0,0,NaN
1963-12-31,387,29640,8454,25060,282,22600,5973,13500,141,2586,8708,2252,NaN,6.420702,-0.706357,0,0,NaN
1964-12-31,389,19390,9094,17635,255,18800,5957,11200,36,4557,3078,1403,NaN,4.794560,10.181818,0,0,NaN
1965-12-31,356,19485,9511,18533,240,17000,4000,6800,37,1180,7440,878,NaN,5.625018,2.860286,0,0,NaN
1966-12-31,366,17835,7055,12583,184,16000,5000,8000,34,1200,7266,872,NaN,6.497296,6.951872,0,0,NaN
1967-12-31,201,18305,7837,14347,211,12330,6001,7400,31,1100,7272,800,NaN,6.908868,11.200000,0,0,NaN
1968-12-31,339,10060,5213,5245,212,14120,6798,9600,31,1000,7680,768,39.839398,-12.169028,5.470624,0,0,NaN
1969-12-31,327,16955,4460,7563,183,14150,6784,9600,31,1000,7400,740,41.099783,3.096014,2.209748,0,0,NaN
1970-12-31,300,16370,4463,7307,225,12200,7950,9700,31,1000,7400,740,35.963451,-0.494821,3.955509,0,0,NaN

In [32]:
explo.interpolate(limit = 500 ,limit_direction = 'backward').head(10)

,seed_per,harvest_per,yield_per,prod_per,seed_bol,harvest_bol,yield_bol,prod_bol,seed_ecu,harvest_ecu,yield_ecu,prod_ecu,gold_price,gdp_bol,cpi_bol,import_diesel,export_diesel,market_price
Date,,,,,,,,,,,,,,,,,,
1961-12-31,600,28610,7862,22494,334,22000,4181,9200,85,1945,3809,741,39.839398,2.079984,7.561493,0,0,435.12
1962-12-31,592,30040,8110,24364,339,22300,4573,10200,80,2750,8672,2385,39.839398,5.570225,5.879331,0,0,435.12
1963-12-31,387,29640,8454,25060,282,22600,5973,13500,141,2586,8708,2252,39.839398,6.420702,-0.706357,0,0,435.12
1964-12-31,389,19390,9094,17635,255,18800,5957,11200,36,4557,3078,1403,39.839398,4.794560,10.181818,0,0,435.12
1965-12-31,356,19485,9511,18533,240,17000,4000,6800,37,1180,7440,878,39.839398,5.625018,2.860286,0,0,435.12
1966-12-31,366,17835,7055,12583,184,16000,5000,8000,34,1200,7266,872,39.839398,6.497296,6.951872,0,0,435.12
1967-12-31,201,18305,7837,14347,211,12330,6001,7400,31,1100,7272,800,39.839398,6.908868,11.200000,0,0,435.12
1968-12-31,339,10060,5213,5245,212,14120,6798,9600,31,1000,7680,768,39.839398,-12.169028,5.470624,0,0,435.12
1969-12-31,327,16955,4460,7563,183,14150,6784,9600,31,1000,7400,740,41.099783,3.096014,2.209748,0,0,435.12
1970-12-31,300,16370,4463,7307,225,12200,7950,9700,31,1000,7400,740,35.963451,-0.494821,3.955509,0,0,435.12